.root {
    -fx-background-image: url("background.jpg");
}

.sliders-pane {
    -fx-border-radius: 10px;
    -fx-border-insets: 5px;
    -fx-border-color: #efefe0;
    -fx-border-width: 14px;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0.5, 2, 2);

    -fx-padding: 10;
    -fx-spacing: 10;
}

.sliders-pane .label {
    -fx-font-size: 16px;
    -fx-text-fill: #fffff0;
}

.sliders-pane .check-box {
    -fx-font-size: 16px;
    -fx-text-fill: #fffff0;
}

.slider {
    -fx-alignment: top-left;
    -fx-show-tick-labels: true;
}

.slider .axis {
    -fx-tick-label-fill: #fffff0;
}

/*.slider .axis:disabled {*/
    /*-fx-tick-label-fill: #fffff0;*/
/*}*/

.presentation-pane {
    -fx-padding: 10;
}

.camera-pane {
    -fx-border-radius: 10px;
    -fx-border-insets: 5px;
    -fx-border-color: #efefe0;
    -fx-border-width: 14px;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0.5, 2, 2);

    -fx-alignment: center;
    -fx-spacing: 10;

    -fx-background-color: #efefe0;;
}

.qr-code-view-pane {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.pose-pane {
    -fx-border-radius: 3px;
    -fx-border-insets: 2px;
    -fx-border-color: #efefe0;
    -fx-border-width: 5px;

    -fx-padding: 10;
    -fx-spacing: 5;
}

.mode-pane {
    -fx-border-radius: 10px;
    -fx-border-insets: 5px;
    -fx-border-color: #efefe0;
    -fx-border-width: 14px;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0.5, 2, 2);

    -fx-padding: 20;
    -fx-spacing: 5;
}

.radio-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffff0;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffff0;
}

.button:disabled {
    -fx-font-size: 16px;
    -fx-text-fill: #ffff80;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #fffff0;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.cag-logo-pane {
    -fx-padding: 20;
    -fx-alignment: bottom-right;
}

.steer-indicator {
    -fx-border-radius: 10px;
    -fx-border-insets: 5px;
    -fx-border-color: #efefe0;
    -fx-border-width: 14px;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0.5, 2, 2);
}